<h2>Products</h2>
<!-- <app-search
[inputList]="products"> 
  </app-search> -->
  <div class="md-form">
  <input type="search" [(ngModel)]="searchText" placeholder="Search text">
</div>
<div *ngFor="let product of products | filter: searchText">
  <h3>{{product.name}}</h3>
  <p *ngIf="product.description">
    {{product.description}}
    </p>
  <button >Share</button>
  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->